## Data collection Document

## Census Data
USA census 2019 data of all cities : ACS 5-Year Estimates Data set with
Social Characteristics
Economic Characteristics
Housing Characteristics
Demographic Characteristics
## Data Source
Data can be downloaded on this given link
https://www.census.gov/data/tables/time-series/demo/popest/2010s-total-cities-and-towns.html
### Feature Selection
Features are manually selected that would be important for predictive models like Neighbourhood model, city information matrix, walk score prediction model, living score model,population estimate model housing price model etc.

This data will be merged on GEO_ID feature with other datasets

### Load libraries

In [1]:
import pandas as pd

pd.set_option('display.max_rows', 200)
pd.set_option('display.max_columns', 700)

##### Read and Explore census Data

In [46]:
census = pd.read_csv('census_raw.csv')
print(census.shape)
census.head(5)

(81434, 22)

,SUMLEV,STATE,COUNTY,PLACE,COUSUB,CONCIT,PRIMGEO_FLAG,FUNCSTAT,NAME,STNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,POPESTIMATE2011,POPESTIMATE2012,POPESTIMATE2013,POPESTIMATE2014,POPESTIMATE2015,POPESTIMATE2016,POPESTIMATE2017,POPESTIMATE2018,POPESTIMATE2019
0,40,1,0,0,0,0,0,A,Alabama,Alabama,4779736,4780125,4785437,4799069,4815588,4830081,4841799,4852347,4863525,4874486,4887681,4903185
1,162,1,0,124,0,0,0,A,Abbeville city,Alabama,2688,2705,2699,2694,2643,2628,2608,2600,2584,2575,2571,2560
2,162,1,0,460,0,0,0,A,Adamsville city,Alabama,4522,4506,4500,4493,4471,4449,4420,4390,4356,4327,4308,4281
3,162,1,0,484,0,0,0,A,Addison town,Alabama,758,754,751,750,743,742,739,734,731,726,723,718
4,162,1,0,676,0,0,0,A,Akron town,Alabama,356,356,355,347,347,343,338,339,333,332,331,328

In [47]:
census.columns

Index(['SUMLEV', 'STATE', 'COUNTY', 'PLACE', 'COUSUB', 'CONCIT',
       'PRIMGEO_FLAG', 'FUNCSTAT', 'NAME', 'STNAME', 'CENSUS2010POP',
       'ESTIMATESBASE2010', 'POPESTIMATE2010', 'POPESTIMATE2011',
       'POPESTIMATE2012', 'POPESTIMATE2013', 'POPESTIMATE2014',
       'POPESTIMATE2015', 'POPESTIMATE2016', 'POPESTIMATE2017',
       'POPESTIMATE2018', 'POPESTIMATE2019'],
      dtype='object')

In [48]:
census = census.drop(['SUMLEV', 'STATE', 'COUNTY', 'PLACE', 'COUSUB', 'CONCIT',
       'PRIMGEO_FLAG', 'FUNCSTAT'],axis=1)

census = census.rename(columns={
    "name":"city",
    "stname":"state"
})
census = census.rename(columns={
    "NAME":"city",
    "STNAME":"state"
})

print(census.shape)
census.head()

print(census.shape)
census.head()

(81434, 14)
(81434, 14)

,city,state,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,POPESTIMATE2011,POPESTIMATE2012,POPESTIMATE2013,POPESTIMATE2014,POPESTIMATE2015,POPESTIMATE2016,POPESTIMATE2017,POPESTIMATE2018,POPESTIMATE2019
0,Alabama,Alabama,4779736,4780125,4785437,4799069,4815588,4830081,4841799,4852347,4863525,4874486,4887681,4903185
1,Abbeville city,Alabama,2688,2705,2699,2694,2643,2628,2608,2600,2584,2575,2571,2560
2,Adamsville city,Alabama,4522,4506,4500,4493,4471,4449,4420,4390,4356,4327,4308,4281
3,Addison town,Alabama,758,754,751,750,743,742,739,734,731,726,723,718
4,Akron town,Alabama,356,356,355,347,347,343,338,339,333,332,331,328

In [49]:
census.isnull().sum()

city                 0
state                0
CENSUS2010POP        0
ESTIMATESBASE2010    0
POPESTIMATE2010      0
POPESTIMATE2011      0
POPESTIMATE2012      0
POPESTIMATE2013      0
POPESTIMATE2014      0
POPESTIMATE2015      0
POPESTIMATE2016      0
POPESTIMATE2017      0
POPESTIMATE2018      0
POPESTIMATE2019      0
dtype: int64

In [50]:
#print all column names
census.columns

Index(['city', 'state', 'CENSUS2010POP', 'ESTIMATESBASE2010',
       'POPESTIMATE2010', 'POPESTIMATE2011', 'POPESTIMATE2012',
       'POPESTIMATE2013', 'POPESTIMATE2014', 'POPESTIMATE2015',
       'POPESTIMATE2016', 'POPESTIMATE2017', 'POPESTIMATE2018',
       'POPESTIMATE2019'],
      dtype='object')

In [51]:
census['city'].nunique()

31802

In [52]:
census.state.nunique()

51

In [53]:
census.state.unique()
 # Problem here is state names are fully spelled out

array(['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California',
       'Colorado', 'Connecticut', 'Delaware', 'District of Columbia',
       'Florida', 'Georgia', 'Hawaii', 'Idaho', 'Illinois', 'Indiana',
       'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland',
       'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi',
       'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire',
       'New Jersey', 'New Mexico', 'New York', 'North Carolina',
       'North Dakota', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania',
       'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee',
       'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington',
       'West Virginia', 'Wisconsin', 'Wyoming'], dtype=object)

In [54]:
census = census.replace({
    "Alabama":"AL",
    "Alaska":"AK",
    "Arizona":"AZ",
    "Arkansas":"AR",
    "California":"CA",
    "Colorado":"CO",
    "Connecticut":"CT",
    "Delaware":"DE",
    "District of Columbia":"DC",
    "Florida":"FL",
    "Georgia":"GA",
    "Hawaii":"HI",
    "Idaho":"ID",
    "Illinois":"IL",
    "Indiana":"IN",
    "Iowa":"IA",
    "Kansas":"KS",
    "Kentucky":"KY",
    "Louisiana":"LA",
    "Maine":"ME",
    "Maryland":"MD",
    "Massachusetts":"MA",
    "Michigan":"MI",
    "Minnesota":"MN",
    "Mississippi":"MS",
    "Missouri":"MO",
    "Montana":"MT",
    "Nebraska":"NE",
    "Nevada":"NV",
    "New Hampshire":"NH",
    "New Jersey":"NJ",
    "New Jersey":"NJ",
    "New Mexico":"NM",
    "New York":"NY",
    "North Carolina":"NC",
    "North Dakota":"ND",
    "Ohio":"OH",
    "Oklahoma":"OK",
    "Oregon":"OR",
    "Pennsylvania":"PA",
    "Rhode Island":"RI",
    "South Carolina":"SC",
    "South Dakota":"SD",
    "Tennessee":"TN",
    "Texas":"TX",
    "Utah":"UT",
    "Vermont":"VT",
    "Virginia":"VA",
    "Washington":"WA",
    "West Virginia":"WV",
    "Wisconsin":"WI",
    "Wyoming":"WY"
})

In [61]:
print(census.state.nunique())
census.state.unique()

51

array(['AL', 'AK', 'AZ', 'AR', 'CA', 'CO', 'CT', 'DE', 'DC', 'FL', 'GA',
       'HI', 'ID', 'IL', 'IN', 'IA', 'KS', 'KY', 'LA', 'ME', 'MD', 'MA',
       'MI', 'MN', 'MS', 'MO', 'MT', 'NE', 'NV', 'NH', 'NJ', 'NM', 'NY',
       'NC', 'ND', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX',
       'UT', 'VT', 'VA', 'WA', 'WV', 'WI', 'WY'], dtype=object)

In [62]:
print(census.shape)
census.head()

(81434, 14)

,city,state,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,POPESTIMATE2011,POPESTIMATE2012,POPESTIMATE2013,POPESTIMATE2014,POPESTIMATE2015,POPESTIMATE2016,POPESTIMATE2017,POPESTIMATE2018,POPESTIMATE2019
0,AL,AL,4779736,4780125,4785437,4799069,4815588,4830081,4841799,4852347,4863525,4874486,4887681,4903185
1,Abbeville city,AL,2688,2705,2699,2694,2643,2628,2608,2600,2584,2575,2571,2560
2,Adamsville city,AL,4522,4506,4500,4493,4471,4449,4420,4390,4356,4327,4308,4281
3,Addison town,AL,758,754,751,750,743,742,739,734,731,726,723,718
4,Akron town,AL,356,356,355,347,347,343,338,339,333,332,331,328

In [63]:
census.isnull().sum()

city                 0
state                0
CENSUS2010POP        0
ESTIMATESBASE2010    0
POPESTIMATE2010      0
POPESTIMATE2011      0
POPESTIMATE2012      0
POPESTIMATE2013      0
POPESTIMATE2014      0
POPESTIMATE2015      0
POPESTIMATE2016      0
POPESTIMATE2017      0
POPESTIMATE2018      0
POPESTIMATE2019      0
dtype: int64

In [64]:
census.dtypes

city                 object
state                object
CENSUS2010POP        object
ESTIMATESBASE2010     int64
POPESTIMATE2010       int64
POPESTIMATE2011       int64
POPESTIMATE2012       int64
POPESTIMATE2013       int64
POPESTIMATE2014       int64
POPESTIMATE2015       int64
POPESTIMATE2016       int64
POPESTIMATE2017       int64
POPESTIMATE2018       int64
POPESTIMATE2019       int64
dtype: object

In [65]:
census_final= census[['city', 'state','POPESTIMATE2019']]
census_final=census_final[1:]
census_final.reset_index(inplace=True)
census_final= census_final[['city', 'state','POPESTIMATE2019']]
census_final.head()

              city state  POPESTIMATE2019
0   Abbeville city    AL             2560
1  Adamsville city    AL             4281
2     Addison town    AL              718
3       Akron town    AL              328
4   Alabaster city    AL            33487

In [66]:
#remove city and town from city columns
census_final['city'] = census_final['city'].str.replace('city', '')
census_final['city'] = census_final['city'].str.replace('town', '')
census_final['city'] = census_final['city'].str.strip(' ')
census_final.head()

         city state  POPESTIMATE2019
0   Abbeville    AL             2560
1  Adamsville    AL             4281
2     Addison    AL              718
3       Akron    AL              328
4   Alabaster    AL            33487

In [67]:
census_final['city'][0]

'Abbeville'

In [75]:
census_final= census_final.drop_duplicates(subset=['city'])
census_final.reset_index(drop=True)
print(census_final.shape)
census_final.head()

(29991, 3)

         city state  POPESTIMATE2019
0   Abbeville    AL             2560
1  Adamsville    AL             4281
2     Addison    AL              718
3       Akron    AL              328
4   Alabaster    AL            33487

In [76]:
census_final.to_csv("census_finaldata.csv",index=False)