### Walk Score Data

Data source:  https://www.walkscore.com/cities-and-neighborhoods/states/

This is a simple loop that uses the pd.read_html function and a list of state abbreviations to scrape the summary scores for all major cities in their publicly-available data tables.

In [4]:
import pandas as pd

In [33]:
us_state_abbrev = ['AL','AK','AZ','AR','CA','CO','CT','DE','DC','FL','GA','HI','ID','IL','IN','IA','KS',
                   'KY','LA','ME','MD','MA','MI','MN','MS','MO','MT','NE','NV','NH','NJ','NM','NY','NC',
                   'ND','OH','OK','OR','PA','RI','SC','SD','TN','TX','UT','VT','VA','WA','WV','WI','WY']

In [34]:
# Empty DataFrame to add to in the loop below
df = pd.DataFrame()

for i in us_state_abbrev:
    df_i = pd.read_html('https://www.walkscore.com/' + i)[0]
    df_i['State'] = i
    df = pd.concat([df, df_i])

In [31]:
import pandas as pd
df = pd.read_csv('walk_score.csv', index_col=0)
print(df.shape)
df.head()

(2500, 7)

,City,Zip Code,Walk Score,Transit Score,Bike Score,Population,State
0,Birmingham (the largest city in Alabama),35211.0,35,25,31,212237,AL
1,Montgomery,36109.0,26,16,38,205764,AL
2,Mobile,36605.0,32,--,39,195111,AL
3,Huntsville,35810.0,24,13,40,180105,AL
4,Tuscaloosa,NaN,33,--,37,90468,AL

In [34]:
df1 =df.copy()
df1['City']=df1['City'].str.replace(r"\(.*\)","")

In [35]:
df1.head()

,City,Zip Code,Walk Score,Transit Score,Bike Score,Population,State
0,Birmingham,35211.0,35,25,31,212237,AL
1,Montgomery,36109.0,26,16,38,205764,AL
2,Mobile,36605.0,32,--,39,195111,AL
3,Huntsville,35810.0,24,13,40,180105,AL
4,Tuscaloosa,NaN,33,--,37,90468,AL

In [36]:
df1['City'].nunique()

2209

In [37]:
df1.drop_duplicates()

,City,Zip Code,Walk Score,Transit Score,Bike Score,Population,State
0,Birmingham,35211.0,35,25,31,212237,AL
1,Montgomery,36109.0,26,16,38,205764,AL
2,Mobile,36605.0,32,--,39,195111,AL
3,Huntsville,35810.0,24,13,40,180105,AL
4,Tuscaloosa,NaN,33,--,37,90468,AL
...,...,...,...,...,...,...,...
1,Casper,NaN,39,--,44,55316,WY
2,Laramie,NaN,34,--,67,30816,WY
3,Gillette,NaN,21,--,34,29087,WY
4,Rock Springs,NaN,29,--,32,23036,WY
5,Sheridan,NaN,30,--,45,17444,WY

In [38]:
df1.isnull().sum()

City                0
Zip Code         1489
Walk Score          0
Transit Score       0
Bike Score          0
Population          0
State               0
dtype: int64

In [39]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2500 entries, 0 to 5
Data columns (total 7 columns):
City             2500 non-null object
Zip Code         1011 non-null float64
Walk Score       2500 non-null int64
Transit Score    2500 non-null object
Bike Score       2500 non-null int64
Population       2500 non-null int64
State            2500 non-null object
dtypes: float64(1), int64(3), object(3)
memory usage: 156.2+ KB

In [40]:
df1.columns

Index(['City', 'Zip Code', 'Walk Score', 'Transit Score', 'Bike Score',
       'Population', 'State'],
      dtype='object')

In [41]:
df1 = df1[['City', 'Walk Score', 'Bike Score',
       'Population', 'State']]

In [42]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2500 entries, 0 to 5
Data columns (total 5 columns):
City          2500 non-null object
Walk Score    2500 non-null int64
Bike Score    2500 non-null int64
Population    2500 non-null int64
State         2500 non-null object
dtypes: int64(3), object(2)
memory usage: 117.2+ KB

In [43]:
df1.City.nunique()

2209

In [44]:
df1.to_csv('walkscore_clean.csv')